.movie-info {
  width: 50%;
  display: flex;
  gap: 30px;
}
.movie-info .movie-poster {
  position: relative;
  width: 220px;
  height: 320px;
  border-radius: 10px;
}
.movie-info .movie-info-image {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.movie-info .movie-full-info {
  position: relative;
}
.movie-info .movie-full-info .flex-info {
  display: flex;
  margin-bottom: 6px;
}
.movie-info .movie-full-info .flex-info p {
  font-family: main_geo;
  margin-left: 5px;
}
.movie-info .movie-full-info .movie-buttons {
  display: flex;
  gap: 15px;
  margin: 15px 0px 0px 0px;
  margin-bottom: 20px;
}
.movie-info .movie-full-info .movie-buttons button:nth-child(1) {
  padding: 6px 20px;
  background: rgba(235, 255, 0, 0.2);
  border-radius: 5px;
  color: #ebff00;
  border: 0px;
  font-family: main_geo;
  font-size: 13px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.2s;
}
.movie-info .movie-full-info .movie-buttons button:nth-child(1):hover {
  background: rgba(235, 255, 0, 0.3);
}
.movie-info .movie-full-info .movie-buttons button:nth-child(2) {
  padding: 6px 20px;
  background: rgba(255, 77, 0, 0.2);
  border-radius: 5px;
  color: rgb(255, 77, 0);
  border: 0px;
  font-family: main_geo;
  font-size: 13px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.2s;
}
.movie-info .movie-full-info .movie-buttons button:nth-child(2):hover {
  background: rgba(255, 77, 0, 0.3);
}
.movie-info .movie-full-info .favorites {
  display: flex;
  background: rgba(56, 55, 55, 0.3);
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.movie-info .movie-full-info .favorites:hover {
  background: rgba(89, 88, 88, 0.4);
}
.movie-info .movie-full-info .favorites p {
  color: #fff;
  user-select: none;
}
.movie-info .movie-full-info .favorites svg {
  color: #fff;
  user-select: none;
}
.movie-info .movie-full-info .rating {
  position: absolute;
  bottom: 0;
}
.movie-info .movie-full-info .rating h4 {
  user-select: none;
}
.movie-info .movie-full-info .rating .thumbs {
  margin-top: 12px;
  display: flex;
  gap: 15px;
}
.movie-info .movie-full-info .rating .thumbs div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 8px;
  width: 80px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.movie-info .movie-full-info .rating .thumbs div img {
  height: 22px;
}
.movie-info .movie-full-info .rating .thumbs div:nth-child(1) {
  background: rgba(0, 255, 25, 0.2);
}
.movie-info .movie-full-info .rating .thumbs div:nth-child(1) h5 {
  font-size: 15px;
  color: #00ff19;
}
.movie-info .movie-full-info .rating .thumbs div:nth-child(1):hover {
  background: rgba(0, 255, 25, 0.3);
}
.movie-info .movie-full-info .rating .thumbs div:nth-child(2) {
  background: rgba(255, 0, 0, 0.2);
}
.movie-info .movie-full-info .rating .thumbs div:nth-child(2) h5 {
  font-size: 15px;
  color: #ff0000;
}
.movie-info .movie-full-info .rating .thumbs div:nth-child(2):hover {
  background: rgba(255, 0, 0, 0.3);
}