@media screen and (max-width: 1400px) {
  .Header {
    width: 100%;
    left: 0px;
    padding: 0px 50px;
  }
}

@media screen and (max-width: 1110px) {
  .Header {
    .headerP {
      display: none;
    }
  }
}
@media screen and (max-width: 771px) {
  .Header {
    background-color: #050613;
    top: 0px;
    height: 100px;
    .search-main {
      .quick-search-input {
        width: 300px !important;
      }
    }
  }
}
@media screen and (max-width: 590px) {
  .Header {
    z-index: 6;
    height: 60px;
    padding: 0 10px;
    .headerButtons {
      display: none;
    }
    .search-main {
      position: unset;
      .search-results {
        width: 100%;
      }
    }
  }
}
