.news {
  padding: 30px 0px;
}
.news .main-movie {
  margin-bottom: 30px;
  border-radius: 5px;
  height: 489px;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.news .main-movie img {
  width: 100%;
  position: absolute;
}
.news .main-movie .cardLoader {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #0c0e25;
  z-index: 4;
  display: flex;
  align-items: center;
  animation: Loader 1.5s infinite ease-in-out;
  justify-content: center;
}
.news .main-movie .cardLoader img {
  height: 70px;
  width: 70px;
  animation: LoaderImg 1.5s infinite linear;
  opacity: 0.4;
}
.news .main-movie:hover .blur {
  opacity: 0.8;
}
.news .main-movie .info {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #fff;
  cursor: pointer;
}
.news .main-movie .info h2 {
  margin-bottom: 10px;
}
.news .main-movie .blur {
  background: linear-gradient(to top, rgba(12, 14, 37, 0.95), rgba(12, 14, 37, 0));
  position: absolute;
  left: 0px;
  top: 0px;
  cursor: pointer;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  transition: 0.2s;
}
.news .news-movie-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.news .news-movie-main .news-movie {
  border-radius: 5px;
  position: relative;
  width: 48%;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.news .news-movie-main .news-movie .cardLoader {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #0c0e25;
  z-index: 4;
  display: flex;
  align-items: center;
  animation: Loader 1.5s infinite ease-in-out;
  justify-content: center;
}
.news .news-movie-main .news-movie .cardLoader img {
  height: 70px;
  width: 70px;
  animation: LoaderImg 1.5s infinite linear;
  opacity: 0.4;
}
.news .news-movie-main .news-movie img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.news .news-movie-main .news-movie h4 {
  position: absolute;
  bottom: 20px;
  left: 15px;
}
.news .news-movie-main .news-movie:hover .blur {
  opacity: 0.8;
}
.news .news-movie-main .news-movie .blur {
  position: absolute;
  background: linear-gradient(to top, rgba(12, 14, 37, 0.95), rgba(12, 14, 37, 0));
  cursor: pointer;
  border-radius: 4px;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transition: 0.2s;
}

@media screen and (max-width: 1200px) {
  .news .main-movie {
    height: 300px;
  }
  .news .main-movie img {
    object-fit: cover;
  }
}
@media screen and (max-width: 830px) {
  .news .main-movie {
    height: 300px;
  }
  .news .main-movie img {
    height: 100%;
  }
  .news .main-movie .info h2 {
    font-size: 17px;
  }
  .news .main-movie .info p {
    font-size: 13px;
  }
  .news .news-movie-main .news-movie {
    width: 100%;
  }
}