.leftside-navbar {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 245px;
  background: #0c0e25;
  padding: 28px 23px;
  padding-right: 0px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
  z-index: 9;
}
.leftside-navbar .navbar-logo {
  display: flex;
  gap: 14px;
  align-items: center;
  cursor: pointer;
}
.leftside-navbar .navbar-logo h3 {
  font-size: 15px;
  color: #00ffd1;
}
.leftside-navbar .navbar-logo h3 span {
  color: #fff;
}
.leftside-navbar .navbar-links {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.leftside-navbar .navbar-links .nav-link {
  display: flex;
  align-items: center;
  gap: 13px;
  width: auto;
  color: #fff;
  width: 222px;
  cursor: pointer;
}
.leftside-navbar .navbar-links .nav-link h4 {
  transition: 0.3s;
}
.leftside-navbar .navbar-links .nav-link img {
  filter: brightness(0) invert(1);
  transition: 0.2s;
}
.leftside-navbar .navbar-links .nav-link::after {
  content: "";
  position: absolute;
  right: 0;
  height: 25px;
  width: 3px;
  opacity: 0;
  background: #00ffd1;
  transition: 0.2s;
}
.leftside-navbar .navbar-links .nav-link.active img {
  filter: unset;
}
.leftside-navbar .navbar-links .nav-link.active h4 {
  color: #00ffd1;
}
.leftside-navbar .navbar-links .nav-link.active::after {
  opacity: 1;
}
.leftside-navbar .navbar-links .nav-link:hover img {
  filter: brightness(1);
}
.leftside-navbar .navbar-links .nav-link:hover h4 {
  color: #00ffd1;
}
.leftside-navbar .navbar-links .nav-link:hover::after {
  opacity: 1;
}
.leftside-navbar .navbar-footer {
  display: flex;
  gap: 15px;
}
.leftside-navbar .navbar-footer div {
  width: 36px;
  height: 36px;
  background: #151940;
  border-radius: 5px;
  display: grid;
  place-items: center;
  transition: 0.3s;
  cursor: pointer;
}
.leftside-navbar .navbar-footer div:hover {
  background: rgba(42, 47, 94, 0.662745098);
}

.closeSearchNav {
  display: none;
  height: 50px;
  width: 50px;
  position: fixed;
  right: 60px;
  top: 5px;
  border-radius: 5px;
  background: transparent;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.closeSearchNav .closeI {
  font-size: 36px;
  color: #252b6a;
}

.burgerbarNav {
  display: none;
  height: 50px;
  width: 50px;
  position: fixed;
  right: 10px;
  top: 5px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  z-index: 10;
}
.burgerbarNav span {
  display: block;
  border-radius: 5px;
  width: 60%;
  height: 3px;
  background: #00c19e;
  transition: 0.2s;
}

.burgerbarNavActive span:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}
.burgerbarNavActive span:nth-child(2) {
  opacity: 0;
}
.burgerbarNavActive span:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

@media (max-width: 590px) {
  .closeSearchNav {
    display: flex;
  }
  .burgerbarNav {
    display: flex;
  }
  .App .leftside-navbar-active {
    left: 0;
  }
}
.notG {
  display: none;
}