.leftside-navbar {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 245px;
  background: #0c0e25;
  padding: 28px 23px;
  padding-right: 0px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
  z-index: 9;
  .navbar-logo {
    display: flex;
    gap: 14px;
    align-items: center;
    cursor: pointer;
    h3 {
      font-size: 15px;
      color: #00ffd1;
      span {
        color: #fff;
      }
    }
  }
  .navbar-links {
    display: flex;
    flex-direction: column;
    gap: 40px;
    .nav-link {
      display: flex;
      align-items: center;
      gap: 13px;
      width: auto;
      color: #fff;
      width: 222px;
      cursor: pointer;

      h4 {
        transition: 0.3s;
      }
      img {
        filter: brightness(0) invert(1);
        transition: 0.2s;
      }
      &::after {
        content: "";
        position: absolute;
        right: 0;
        height: 25px;
        width: 3px;
        opacity: 0;
        background: #00ffd1;
        transition: 0.2s;
      }
      &.active {
        img {
          filter: unset;
        }
        h4 {
          color: #00ffd1;
        }
        &::after {
          opacity: 1;
        }
      }
      &:hover {
        img {
          filter: brightness(1);
        }
        h4 {
          color: #00ffd1;
        }
        &::after {
          opacity: 1;
        }
      }
    }
  }
  .navbar-footer {
    display: flex;
    gap: 15px;
    div {
      width: 36px;
      height: 36px;
      background: #151940;
      border-radius: 5px;
      display: grid;
      place-items: center;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        background: #2a2f5ea9;
      }
    }
  }
}
.burgerbarNav {
  display: none;
  height: 50px;
  width: 60px;
  position: fixed;
  right: 0px;
  padding-right: 10px;
  top: 20px;
  border-radius: 5px;
  background: #0c0e25;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  z-index: 10;
  span {
    display: block;
    border-radius: 5px;
    width: 60%;
    height: 3px;
    background: #00c19e;
    transition: 0.2s;
  }
}
.burgerbarNavActive {
  span {
    &:nth-child(1) {
      transform: translateY(11px) rotate(45deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      transform: translateY(-11px) rotate(-45deg);
    }
  }
}
@media (max-width: 590px) {
  .burgerbarNav {
    display: flex;
  }
  .App .leftside-navbar-active {
    left: 0;
  }
}
