.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  position: fixed;
  width: calc(100% - 295px);
  left: 270px;
  top: 30px;
  z-index: 9;
}
.Header .headerSearch {
  display: flex;
  align-items: center;
  position: relative;
}
.Header .headerSearch form {
  display: flex;
  align-items: center;
}
.Header .headerSearch input {
  font-family: main_geo;
  font-size: 16px;
  height: 40px;
  border-radius: 5px;
  width: 350px;
  background: #0c0e25;
  padding: 0 20px;
  border: 0;
  letter-spacing: 1px;
  color: white;
  padding-right: 40px;
  transition: 0.2s;
}
.Header .headerSearch input:focus {
  outline: none;
  background: #111433;
}
.Header .headerSearch input::placeholder {
  color: #313561;
}
.Header .headerSearch img {
  cursor: pointer;
  position: absolute;
  right: 15px;
  height: 18px;
}
.Header .hideHS form {
  display: none;
}
.Header .headerButtons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.Header .headerButtons .headerP {
  background: rgba(255, 0, 0, 0.1);
  color: #ff0000;
  letter-spacing: 2px;
  font-family: main_geo;
  font-size: 16px;
  padding: 8px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}
.Header .headerButtons .headerP:hover {
  background: rgba(255, 0, 0, 0.2);
}
.Header .headerButtons .headerMicroButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  aspect-ratio: 1;
  border-radius: 5px;
  background: #0c0e25;
  cursor: pointer;
  transition: 0.2s;
}
.Header .headerButtons .headerMicroButtons img {
  height: 22px;
}
.Header .headerButtons .headerMicroButtons:hover {
  background: #111433;
}