.resultedA {
  text-decoration: none;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  position: fixed;
  width: calc(100% - 295px);
  left: 270px;
  top: 30px;
  z-index: 9;
}
.Header .search-main {
  position: relative;
}
.Header .search-main .search-results {
  position: absolute;
  height: 638px;
  background: #0c0e25;
  top: 60px;
  left: 0px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.2s;
}
.Header .search-main .search-results .result-movies {
  height: 100%;
  overflow-y: scroll;
}
.Header .search-main .search-results .result-movies::-webkit-scrollbar {
  display: none;
}
.Header .search-main .search-results .result-movies .result-movie {
  cursor: pointer;
  display: flex;
  gap: 15px;
  padding: 15px 10px;
  transition: 0.2s;
}
.Header .search-main .search-results .result-movies .result-movie:hover {
  background: #151940;
  border-radius: 6px;
}
.Header .search-main .search-results .result-movies .result-movie img {
  height: 170px;
  width: 121px;
  object-fit: cover;
  border-radius: 5px;
}
.Header .search-main .search-results .result-movies .result-movie .result-movie-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Header .search-main .search-results .result-movies .result-movie .result-movie-info .header-info h2 {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 15px;
}
.Header .search-main .search-results .result-movies .result-movie .result-movie-info .header-info p {
  font-size: 11px;
}
.Header .search-main .search-results .result-movies .result-movie .result-movie-info .bottom-info .flex-info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.Header .search-main .search-results .result-movies .result-movie .result-movie-info .bottom-info .flex-info h4 {
  font-size: 13px;
  margin-right: 5px;
}
.Header .search-main .search-results .result-movies .result-movie .result-movie-info .bottom-info .flex-info p {
  font-family: main_geo;
  font-size: 13px;
}
.Header .search-main .searchCloser {
  height: 0px;
}
.Header .search-main .headerSearch {
  display: flex;
  align-items: center;
  position: relative;
}
.Header .search-main .headerSearch form {
  display: flex;
  align-items: center;
}
.Header .search-main .headerSearch input {
  font-family: main_geo;
  font-size: 16px;
  height: 40px;
  border-radius: 5px;
  width: 500px;
  background: #0c0e25;
  padding: 0 20px;
  border: 0;
  letter-spacing: 1px;
  color: white;
  padding-right: 40px;
  transition: 0.2s;
}
.Header .search-main .headerSearch input:focus {
  outline: none;
  background: #111433;
}
.Header .search-main .headerSearch input::placeholder {
  color: #313561;
}
.Header .search-main .headerSearch img {
  cursor: pointer;
  position: absolute;
  right: 15px;
  height: 18px;
}
.Header .hideHS form {
  display: none;
}
.Header .headerButtons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.Header .headerButtons .headerP {
  background: rgba(255, 0, 0, 0.1);
  color: #ff0000;
  letter-spacing: 2px;
  font-family: main_geo;
  font-size: 16px;
  padding: 8px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}
.Header .headerButtons .headerP:hover {
  background: rgba(255, 0, 0, 0.2);
}
.Header .headerButtons .headerMicroButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  aspect-ratio: 1;
  border-radius: 5px;
  background: #0c0e25;
  cursor: pointer;
  transition: 0.2s;
}
.Header .headerButtons .headerMicroButtons img {
  height: 22px;
}
.Header .headerButtons .headerMicroButtons:hover {
  background: #111433;
}