.Favorites {
  padding: 30px 0;
  .favoritesRow {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    .Card {
      min-width: 22% !important;
      .cardImageSide {
        width: 100%;
      }
    }
  }
  .emptyFavs {
    color: #ffffffbc;
    margin-bottom: 30px;
    font-family: main_geo;
    font-size: 22px;
    letter-spacing: 2px;
    text-align: center;
  }
}
