.search {
  .search-header {
    display: flex;
    gap: 30px;
    padding: 50px 0px;
    padding-bottom: 20px;
    .search-input {
      height: 45px;
      border-radius: 5px;
      width: 100%;
      display: flex;
      position: relative;
      img {
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        width: 24px;
        position: absolute;
        cursor: pointer;
      }
      input {
        background: #0c0e25;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        border: 0px;
        outline: none;
        padding: 0px 60px 0px 20px;
        color: #fff;
        font-size: 16px;
        font-family: main_geo;
      }
    }

    button {
      font-family: main_geo;
      width: 244px;
      height: 45px;
      background: #00ffd1;
      border-radius: 5px;
      color: rgba(5, 6, 19, 1);
      letter-spacing: 0.1em;
      font-size: 15px;
      cursor: pointer;
      outline: none;
      border: none;
    }
  }
  .search-filter {
    display: flex;
    align-items: center;
    gap: 23px;
    flex-wrap: wrap;
    background: #0c0e25;
    border-radius: 10px;
    transition: 0.2s;
    height: 0px;
    padding: 0px 20px;
    overflow: hidden;
    position: relative;
    .filter {
      position: relative;
      &:hover {
        .filter-options {
          height: 450px;
        }
      }

      .filter-flex {
        width: 170px;
        height: 40px;
        background: #151940;
        border-radius: 5px;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 0px 20px;
        h4 {
          margin: auto;
        }
        svg {
          color: #fff;
        }
      }
      .filter-options {
        overflow: hidden;
        height: 0px;
        position: absolute;
        left: 0px;
        top: 60px;
        transition: 0.8s;
        z-index: 22;

        .filter-option {
          display: flex;
          justify-content: center;
          flex-direction: column;
          width: 100%;
          gap: 10px;
          h4 {
            width: 170px;
            cursor: pointer;
            text-align: center;
          }
        }
      }
    }
  }
  .filtersShow {
    height: 80px;
    scale: 1;
  }
  .closeFilters {
    position: absolute;
    color: #1e245a;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
  }
  .search-cards {
    padding: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
  }
}
@media (max-width: 1094px) {
  .search {
    .search-filter {
      transition: 0s;
    }
    .filtersShow {
      height: auto;
      padding: 20px;
      padding-right: 60px;
    }
    .closeFilters {
      top: 20px;
    }
  }
}
