@font-face {
  font-family: k2d_b;
  src: url("./fonts/K2D-Bold.ttf");
}
@font-face {
  font-family: k2d_r;
  src: url("./fonts/K2D-Regular.ttf");
}
@font-face {
  font-family: main_geo;
  src: url("./fonts/TKT-Regular-Caps.ttf");
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  &::selection {
    background: #00c19e;
    color: white;
  }
}
body::-webkit-scrollbar {
  width: 10px;
  background: #0c0e25;
}
body::-webkit-scrollbar-thumb {
  background: #151940;
}
.App {
  padding-left: 270px;
  padding-right: 20px;
  padding-top: 80px;
}
body {
  background-color: #050613;
}

p {
  font-family: k2d_r;
  font-size: 15px;
  font-weight: initial;
  line-height: 21px;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.5);
}
h2 {
  font-family: k2d_r;
  font-size: 24px;
  line-height: 31px;
  font-weight: initial;
  letter-spacing: 0.1em;
  color: #ffffff;
}
h3 {
  font-family: k2d_b;
  letter-spacing: 2px;
  font-weight: initial;
}
h4 {
  font-family: main_geo;
  letter-spacing: 3px;
  font-weight: initial;
  color: #fff;
}
h5 {
  font-family: k2d_r;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  font-weight: initial;
  color: #ffffff;
}
.header-text {
  color: #ffffff;
  margin-bottom: 30px;
  font-family: main_geo;
  font-size: 22px;
  letter-spacing: 2px;
}
@keyframes Loader {
  0% {
    filter: brightness(0.9);
  }
  50% {
    filter: brightness(1.2);
  }
  100% {
    filter: brightness(0.9);
  }
}
@keyframes LoaderImg {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
@media screen and (max-width: 1400px) {
  .App {
    padding: 0px 30px;
    .leftside-navbar {
      left: -100%;
    }
  }
}
