@font-face {
  font-family: k2d_r;
  src: url(./fonts/K2D-Regular.ttf);
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: #050613;
}
h3 {
  font-family: k2d_r;
  letter-spacing: 0.1em;
}
